.photo-frame {
    width: 500px;
    height: 250px;
    /* padding: 20px; */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border: 5px solid #f0f0f0;
    margin: 20px;
    perspective: 1000px; /* Prepare for 3D transformations */
    transition: transform 0.3s ease-in-out; /* Smooth transition for transform */
  }
  
  .photo-frame:hover {
    transform: rotate(5deg) scale(1.05); /* Tilt and zoom frame on hover */
  }
  
  .photo {
    width: 100%;
    height: 240px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ddd;
    transition: transform 0.3s ease-in-out; /* Smooth transition for transform */
  }
  
  .photo-frame:hover .photo {
    transform: scale(1.1); /* Zoom in on the photo */
  }
  
  .caption {
    text-align: center;
    color: #333;
    font-style: italic;
    margin-top: 10px;
  }
  