.slider {
    position: relative;
    width: 100%;
    height: 730px;
    overflow: hidden;
    @media (max-width: $mantine-breakpoint-xs) {
       height: 350px;
      }
}

.slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: translateX(70%);
    transition: opacity 0.5s, transform 0.5s;
    box-shadow: 20px 20px;

}

.slider img.active {
    opacity: 1;
    transform: translateX(0);
    height: 100dvh;
}
